.document {
	position: relative;
	width: 100%;
	max-width: 968px;
	height: 1200px;
	margin-top: 40px;
	background-color: #fff;
	box-shadow: 0px 1px 6px #e6e6e6;
	border-radius: 4px;
	margin-bottom: 40px;
	padding: 45px 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.titlesWrap {
	margin-top: 50px;
	height: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.logo {
	position: absolute;
	left: 40px;
	top: 35px;
}
.documentContent {
	margin-top: 20px;
	height: 1100px;
	border: 1px solid #000;
}
.upload-btn {
	position: fixed;
	top: 120px;
	right: 60px;
	width: 140px;
	height: 40px;
	background-color: #0047ab;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.upload-btn:hover {
	opacity: 0.9;
}
